@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(172, 170, 170);
    color: white;
}

.logo img {
    height: 30px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 2px 0 0 2px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 2px 2px 0;
    background-color: #333;
    color: white;
}

.user-profile img {
    height: 30px;
    border-radius: 50%;
}

.main-content {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f9f9f9;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #e0e0e0;
}

.videos {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.video-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-card img {
    width: 100%;
    border-radius: 8px;
}

.video-card h3 {
    font-size: 1em;
    margin: 10px 0 5px;
}

.video-card p {
    font-size: 0.9em;
    color: #666;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}